
ul{
    display: flex;
    list-style: none;
}
span{
    flex:1
}
li{
    flex:1;
    margin: 0px;
}
a{
    text-decoration: none;
    color:white;
}
body{
    background-color: cadetblue;
}
li input{
    margin-left: 37px;
    padding:4px;
    width: 150px;
    height:20px;
  
    background-color: transparent;
    border: 1px solid rgb(210, 105, 30);
    border-right:none;
}
::placeholder{
    color:white;
}
li button{
    padding:2px;
    background-color:orange ;
    height:20px;
    width:70px;
    color:white;
    border: 1px solid orange;
}
section{
    color:white;
    width:400px;
    position: relative;
    top:180px;
    left:200px;
    font-size:large;
}
section span{
    color:rgb(210, 105, 30)
}
section h1{
    width:200px;
    margin: 0%;
}
section button{
    margin:0%;
    background-color:orange ;
    border-radius: 7px;
    height:25px;
    width:100px;
    color:rgb(70, 14, 122);
    border: 1px solid orange;
}
section button:hover{
transition: ease;
color:aqua;
}
aside{
    opacity:0.7;
    padding: 20px;
    background-color: black;
    border: 1px solid;
    width:300px;
    color:white;
    position: relative;
    float:right;
  right:120px;
   bottom:100px;
   text-align: center;
}
form input{
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid orange;
color:white;
}
form h1{
    color:orange;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
form button{
    margin-top: 20px;
    background-color:orange ;
    border-radius: 7px;
    height:25px;
    width:189px;
    color:rgb(70, 14, 122);
    border: 1px solid orange;
}
form a{
    color:orange;
}
i{
    padding:5px
}
a:hover{
color:aqua;
}
div{
    display:flex;
    
}

@media screen and(max-width:1200px)
{
aside{
    width:180px;
    position:absolute;
   right:10px;
   top:90px

}
section{
    width:170px;
    position:relative;
    left:30px;
    top:40px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div{
    display:flex;
    padding-top: 10px;
    
}
}
@media screen and (max-width:600px) {


    aside{
        width:180px;
        position:absolute;
       right:10px;
       top:90px
    
    }
    section{
        width:170px;
        position:relative;
        left:30px;
        top:40px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div{
        display:flex;
        padding-top: 10px;
        
    }
}